
/* to make site run as my except */


/* Noto Sans TC */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* Noto Serif TC */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

/* basic & behavior adjustment */

:root
{
    --nav-bg: black;
    --nav-fg: white;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: white;
}
::-webkit-scrollbar-thumb
{
    background-color: black;
}

*
{
    margin: 0;
    box-sizing: border-box;

    font-family: "Noto Serif TC";
}

img
{
    max-width: 100%;
    /* max-height: 90vh; */
    padding: 3vw;
}

a
{
    text-decoration: none;
    color: black;
}

/* side navbar */
body /* for l/r layout*/
{
    display: flex;
}
nav
{
    position: sticky;
    top: 0;
    left: 0;

    height: 100vh;

    width: fit-content;

    display: flex;
    flex-direction: row;
}
nav .mainnav
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0;

    font-size: 20px;
    font-weight: bold;

    background-color: var(--nav-bg);

    width: fit-content;

    padding-bottom: 40px;
    padding-right: 40px;
    padding-left:  30px;
}
nav .mainnav li
{
    font-family: "Noto Sans TC";
}

nav .subnav
{
    position: fixed;
    top: 12vw;
    right: calc(5% - 0.5em - 10px);
    
    list-style: none;
}
nav .subnav a
{
    display: flex;
    justify-content: center;
    
    font-weight: bold;

    width: 2em;
    padding: 10px;
    margin-bottom: 9px;

    transition: box-shadow 0.2s;
}
nav .subnav a:hover
{
    border-style: solid;
    border-width: 2px;
    box-shadow: 5px 5px black;

    margin-bottom: 5px;
}

/* nav switcher part */

nav .mainnav .switcher
{
    color: var(--nav-fg);
    background-color: var(--nav-bg);

    padding-left: 10px;
    padding-right: 10px;

    /* transition: background-color 0.2s, color 0.2s; */
}
nav .mainnav .switcher:hover
{
    color: var(--nav-bg);
    background-color: var(--nav-fg);
    cursor: pointer;
}
nav .mainnav
{
    list-style: none;
}
nav .mainnav li
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.currentSwitcher
{
    color: var(--nav-bg) !important;
    background-color: var(--nav-fg) !important;
}
.currentSwitcher::after
{
    /* https://stackoverflow.com/questions/17047694/add-line-break-to-after-or-before-pseudo-element-content */

    content: "\A" attr(bside);
    white-space: pre;
}

/* injected content shaping */

#newsinjectpoint
{
    width: 100%;
}
#newsinjectpoint *
{
    font-weight: bold;
    font-size: 24px;
}
#newsinjectpoint tr td a div
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;
    
    padding-right: 10px;
    padding-left: 10px;
}

#newsinjectpoint tr:first-child,
#newsinjectpoint tr *[aria-label="類別"]
{
    display: none;
}

#newsinjectpoint tr *[aria-label="標題"]
{
    transition: box-shadow 0.2s;
    line-break: strict;
    margin-right: 50px;
}
#newsinjectpoint tr *[aria-label="標題"]:hover
{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 10px 10px black;
}
#newsinjectpoint tr *[aria-label="發佈日期"]
{
    border-style: solid;
    border-width: 2px;
    border-color: black;

    min-width: fit-content;
    align-items: center;
}

#newsinjectpoint hr
{
    border-color: black;
    border-bottom-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* content part */
/* ::-webkit-scrollbar
{
    display: none;
} */
main
{
    width: 100%;
}
article
{
    width: 100%;
    min-height: 100vh;
    padding: 10vw;

    animation-name: fade-in;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes fade-in
{
    0%
    {
        opacity: 0;
        padding-top: 100vh;
    }

    30%
    {
        opacity: 0;
    }
    100%
    {
        padding-top: 10vw;
    }
}

article p, h2
{
    font-size: 24px;
    line-height: 2.2em;
}
h2
{
    padding-top: 2em;
}
h2:first-child
{
    padding-top: 0;
}
h2::after
{
    content: "——";
    transform: scaleX(5);
    display: inline-block;
    position: relative;
    left: 90px;

    z-index: -1;
}

footer
{
    height: 10vh;
    width: 100%;
    
    color: white;
    background-color: black;

    display: flex;
    align-items: center;
    
    font-weight: bold;
    padding-left: 100px;
}

/* MYPLATE part */

#MYPLATE section
{
    padding-bottom: 10vw;
}
#MYPLATE section:last-child
{
    padding-bottom: 0;
}

/* RWD stuff */

nav .menubtn
{
    display: none;
}

@media (max-aspect-ratio: 1.03/1)
{
    article
    {
        font-size: 20px;
    }

    nav .mainnav
    {
        position: fixed;
        top: 0;
        height: 100vh;

        background-color: green; /* dbg */
    }

    /* nav .minimized
    {
        top: 0;
        bottom: 100%;

        height: 10px;
    } */

    #newsinjectpoint tr *[aria-label="標題"]
    {
        white-space: pre-line;
    }
}