
p /* for JS wrapping */
{
    white-space: pre-line;
}

article
{
    padding: 5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    letter-spacing: 0.05em;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vh 10vw 1vh 10vw;

    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 15vh;

    border-top: solid 5px black;
    background-color: #c6da56;

    font-size: 150%;
}

a
{    
    text-decoration: none;
    font-size: 180%;
    font-weight: 800;

    color: black;
}

a:hover::after
{
    content: " ←";
    position: absolute;
    transform: translateX(1vw);
}

a[target="_blank"]::after
{
    position: absolute;
    content: url("./out.svg");
    transform: translateX(1vw);
}

a[href="#HOME"]:hover::after
{
    position: relative;
    bottom: 1vh;
    content: "^ BACK TO TOP";
    font-size: 70%;
}

.title /* including the nav one */
{
    grid-area: T;

    height: fit-content;
    align-content: start;

    font-size: 1.5rem;
    font-weight: 700;

    animation: slideleft 1s;

    h3
    {
        font-size: 70%;
    }
}

nav .title
{
    animation: slideup 0.5s;
}

#HOME
{
    display: grid;
    column-gap: 3vw;
    row-gap: 5vh;
    grid-template:
    "T . I I" 0.2fr
    "S . I I" auto
    "J . C D" 0.2fr /
    0.2fr 0.1fr auto auto;
    /*
        T = Title, S = Slogan, C = Comment,
        I = Icons, J = Jumper
    */

    height: 100vh;
        
    /*
        holy chet
        https://stackoverflow.com/questions/55876207/display-a-grid-p-row-vs-a-grid-div-row
        in grid layout,
        p is different to div, especially when containing element in it
    */

    .slogan
    {
        position: relative;
        right: 0.1em;

        grid-area: S;

        font-size: 3rem;
        writing-mode: vertical-lr;
        text-wrap: nowrap;
        line-height: 1.2em;
        font-weight: 800;

        text-align: center;
        /* align-content: center; */

        animation: slideleft 1s;

    }

    .jumper
    {
        grid-area: J;

        align-content: end;

        animation: slideleft 1s;

        a
        {
            display: block;
        }
    }

    .comment, .disclamer
    {
        white-space: pre-line;

        font-weight: 600;
        font-size: 100%;

        align-self: center;
    }

    .comment
    {grid-area: C;}
    
    .disclamer
    {
        grid-area: D;
        text-align: end;
    }

    .icons
    {
        grid-area: I;

        display: grid;
        grid-template:
        "W F S H" auto /
        1fr 1fr 1fr 1fr;

        *
        {
            background-size: 10vw;
            background-repeat: space;
        }

        .why
        {
            grid-area: W;
            background-image: url("./exercise.svg");
        }

        .foods
        {
            grid-area: F;
            background-image: url("./food.svg");
        }

        .sport
        {
            grid-area: S;
            background-image: url("./run.svg");
        }

        .healthy
        {
            grid-area: H;
            background-image: url("./fly.svg");
        }
    }
}

#WHY, #FOODS, #SPORT
{
    column-count: 2;
    column-gap: 5vw;

    h2
    {
        margin-bottom: 2.7vh;
        padding: 1rem;
        background-color: black;
        color: white;
    }

    div
    {
        display: inline-block; /* prevent to take title & content apart*/
        width: 100%;

        h2
        {
            background-color: white;
            color: black;
        }

        p, ul
        {
            font-size: 140%;
            line-height: 2.0em;
            font-weight: 600;

            margin-bottom: 2.7vh;
            
            padding: 2em;
        }

        ul
        {
            list-style: none;
        }
    }
}

/* background stuff */

#HOME
{
    background-color: #c6da56;    
}

#WHY
{
    background-color: lightgray;    
}

#FOODS
{
    background-color: salmon;    
}

#SPORT
{
    background-color: cornflowerblue;
}

footer
{
    height: 6em;
    width: 100vw;

    padding: 2em;

    align-content: center;
}

#navpadder
{
    height: 15vh;
}