
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");

html
{
    font-size: 16px;
    overflow-x: hidden;
    
    /* height: 100%; */

    scroll-behavior: smooth;
}

a
{
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 800;

    color: black;
}

*
{
    margin: 0;
    box-sizing: border-box;

    font-family: "Noto Sans TC", sans-serif;
}

::-webkit-scrollbar
{
    width: 1px;
    background-color: black;
}

pl /* possible line */
{
    display: inline-block;
}

@keyframes slideleft
{
    0%
    {transform: translateX(5vw);}

    100%
    {transform: translateX(0);}
}

@keyframes slighterslideleft
{
    0%
    {transform: translateX(2vw);}

    100%
    {transform: translateX(1vw);}
}

@keyframes titleslideup
{
    0%
    {transform: translateY(5vw) scale(0.7);}

    100%
    {transform: translateY(0) scale(0.7);}
}