
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");

html
{
    font-size: 16px;
    position: relative; /* for background stuff*/
    overflow-x: hidden;
}

*
{
    margin: 0;
    box-sizing: border-box;

    font-family: "Noto Sans TC", sans-serif;
}
