
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");

html
{
    font-size: 16px;
    overflow-x: hidden;
    
    /* height: 100%; */
}

*
{
    margin: 0;
    box-sizing: border-box;

    font-family: "Noto Sans TC", sans-serif;
}

::-webkit-scrollbar
{
    display: none;
}

@keyframes slideleft
{
    0%
    {transform: translateX(5vw);}

    100%
    {transform: translateX(0);}
}

@keyframes slideup
{
    0%
    {transform: translateY(5vw);}

    100%
    {transform: translateY(0);}
}