
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
*
{
    
    margin: 0;
    /* box-sizing: border-box; */

    font-family: "Noto Serif TC";
}

html
{
    background-color: antiquewhite;
}